<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon-32x32.png">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Almacén FyL</title>
</head>
<body>
    <header>
        <div id="top">
            <img class="img-fluid" src="../assets/F_y_L-removebg-preview.png" alt=""></div>
    <nav>
        <ul class="menu">
        <li class="item"><a href="../index.html">Inicio </a></li>
        <li class="item"><a href="./almacen.html">Almacén</a> 
        <li class="item"><a href="./kiosco.html">Kiosco</a>
        <li class="item"><a href="./sobrenosotros.html">Sobre nosotros</a></li>
        <li class="item"> <a href="./comidas.html">Comidas</a></li>
        </ul>
    </nav>
    <section>
    <div class="catalogo">CATALOGO DE PRODUCTOS</div>
    <div class="container">
        <div class="caja"> <img src="../assets/Almacen/p1.jfif" alt=""><p class="precio">$250</p>
        </div>
        <div class="caja"><img src="../assets/Almacen/p3.jpg" alt=""><p class="precio">$30</p>
        </div>
        <div class="caja"><img src="../assets/Almacen/p4.jpg" alt=""><p class="precio">$220</p>
        </div>
        <div class="caja"><img src="../assets/Almacen/p5.jpg" alt=""><p class="precio">$330</p>
        </div>
        <div class="caja"><img src="../assets/Almacen/p6.jpg" alt=""><p class="precio">$350</p>
        </div>
        <div class="caja"><img src="../assets/Almacen/p7.jpg" alt=""><p class="precio">$70</p>
        </div>
        <div class="caja"><img src="../assets/Almacen/p8.jpg" alt=""><p class="precio">$110</p>
        </div>
        <div class="caja"><img src="../assets/Almacen/p9.jpg" alt=""><p class="precio">$220</p>
        </div>
        <div class="caja"><img src="../assets/Almacen/p10.jpg" alt=""><p class="precio">$450</p>
        </div>
        
    </div>
    </section>
</body>
</html>