<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon-32x32.png">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Almacén FyL</title>
</head>
<body>
    <header>
        <div id="top">
        <img class="img-fluid" src="../assets/F_y_L-removebg-preview.png" alt=""></div>
    <nav>
        <ul class="menu">
            <li class="item"><a href="../index.html">Inicio </a></li>
            <li class="item"><a href="./almacen.html">Almacén</a> 
            <li class="item"><a href="./kiosco.html">Kiosco</a>
            <li class="item"><a href="./sobrenosotros.html">Sobre nosotros</a></li>
            <li class="item"> <a href="./comidas.html">Comidas</a></li>
            </ul>
    </nav>
    <section>
        <div class="catalogo-rojo">CATALOGO DE PRODUCTOS</div>
    <div class="container">
        <div class="caja"> <img src="../assets/Kiosco/k1.jpg" alt=""><p class="precio-rojo">$175</p>
        </div>
        <div class="caja"><img src="../assets/Kiosco/k2.jpg" alt=""><p class="precio-rojo">$300</p>
        </div>
        <div class="caja"><img src="../assets/Kiosco/k3.jpg" alt=""><p class="precio-rojo">$80</p>
        </div>
        <div class="caja"><img src="../assets/Kiosco/k4.jpg" alt=""><p class="precio-rojo">$130</p>
        </div>
        <div class="caja"><img src="../assets/Kiosco/k5.jpg" alt=""><p class="precio-rojo">$150</p>
        </div>
        <div class="caja"><img src="../assets/Kiosco/k6.jpg" alt=""><p class="precio-rojo">$150</p>
        </div>
        <div class="caja"><img src="../assets/Kiosco/k7.jpg" alt=""><p class="precio-rojo">$150</p>
        </div>
        <div class="caja"><img src="../assets/Kiosco/k8.jpg" alt=""><p class="precio-rojo">$180</p>
        </div>
        <div class="caja"><img src="../assets/Kiosco/k9.jpg" alt=""><p class="precio-rojo">$80</p>
        </div>
        <div class="caja"><img src="../assets/Kiosco/k10.jpg" alt=""><p class="precio-rojo">$120</p>
        </div>
        <div class="caja"><img src="../assets/Kiosco/k11.jpg" alt=""><p class="precio-rojo">$200</p>
        </div>
        </div>
        
    </div>
    </section>
</body>
</html>