<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon-32x32.png">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Almacén FyL</title>
</head>
<body>
    <header>
        <div id="top">
        <img class="img-fluid" src="../assets/F_y_L-removebg-preview.png" alt=""></div>
        <nav>
            <ul class="menu">
                <li class="item"><a href="../index.html">Inicio </a></li>
                <li class="item"><a href="./almacen.html">Almacén</a> 
                <li class="item"><a href="./kiosco.html">Kiosco</a>
                <li class="item"><a href="./sobrenosotros.html">Sobre nosotros</a></li>
                <li class="item"> <a href="./comidas.html">Comidas</a></li>
                </ul>
        </nav>
    <section class="proximamente">
        <h2>Somos un kiosco de barrio que abrió hace menos de 2 semanas. Tenemos las mejores ofertas y la mejor comida.</h2>
    </section>
</body>
</html>